[user]
	name = Chatree.js
	email = 36321701+chatreejs@users.noreply.github.com

[includeIf "gitdir:~/Documents/Projects/Work/"]
	path = ~/Documents/Projects/Work/.gitconfig

[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
